@font-face {
  font-family: 'Open Sans';
  src: url(../assets/fonts/Open_Sans/OpenSans-Regular.ttf),
  url(../assets/fonts/Open_Sans/OpenSans-Bold.ttf),
  url(../assets/fonts/Open_Sans/OpenSans-SemiBold.ttf);
  font-display: swap;
}

/*THEME COLOURS*/
$primary:  #ff5000;
$secondary:  #503592;
$white: white;
$lightgrey: #e7f2fd;
$greymist: #9BADBF;
$charcoal: #333333;
$dusk: #252032;
$dark: #0d1117;
$black: #000000;

/*Colours need to be converted to CSS variables, because switching to dark theme doesn't work with SASS variables*/
:root {
  --bg-color: #{$white};
  --text-color: #{$charcoal};
  --shadow: #{$greymist};
  --card-color: #{$white};
  --nav-color: #{$white};
  --nav-text: #{$black};
  --heading-color: #{$charcoal};
  --border-color: #{$greymist};
  --bg-img: url(../assets/images/main-bg.jpg);
  --bg-img-webp: url(../assets/images/main-bg.webp);
}

/*DARK THEME*/
[data-theme="dark"] {
  --bg-color: #{$dark};
  --text-color: #{$lightgrey};
  --shadow: #{$black};
  --card-color: #{$dusk};
  --nav-color: #{$dusk};
  --nav-text: #{$white};
  --heading-color: #{$lightgrey};
  --border-color: #{$greymist};
  --bg-img: #{$dark};
  --bg-img-webp: #{$dark};
  --info-border: #{$greymist};
}

/*BREAKPOINTS*/
$widescreen: 1200px;
$ipadpro: 1024px;
$mobile: 768px;
$small: 576px;

/*FONTS*/
$h1-size: 2.5em;
$h2-size: 2em;
$h3-size: 1.5em;
$p-large: 1.5em;
$p-medium: 1.25em;
$p-regular: 1em;

/*SPACING*/
$sp1: 0.25em;
$sp2: 0.5em;
$sp3: 0.75em;
$sp4: 1em;
$sp5: 1.25em;
$sp6: 1.5em;

$letter-spacing: 0.01em;
$letter-spacing-header: 0.04em;
$letter-spacing-btn: 0.125em;
$card-border-radius: 0.5em;
