.topnav {
  display: flex;
  justify-content: flex-end;
  width: 100vw;
  height: 8vh;
  margin: auto;
  overflow: hidden;
  background-color: var(--nav-color);
  border-bottom: 2px solid $primary;
  padding: 0 10vw;
  position: relative;

  #logo-container {
    align-self: center;
  }

  & .mobile-icon-container {
    display: none;
  }

  .nav-items {
    display: flex;
    align-items: center;
    list-style: none;

    & a {
      font-size: $p-medium;
      padding: 0.5em;
      text-decoration: none;
      border-radius: 0.25em;
      color: var(--nav-text);
      text-transform: uppercase;
      font-weight: bold;
    }
  }
}

@media screen and (max-width: $mobile) {
  .topnav {
    padding: 0 2em;

    .nav-items {
      flex-direction: column;
      a {
        display: none;
      }

      &.mobile {
        margin-top: 2em;
      }
    }

    & .mobile-icon-container {
      background: var(--nav-color);
      color: var(--text-color);
      display: block;
      position: absolute;
      top: 1em;
      left: 2em;
    }

    &.mobile {
      height: auto;
      padding-bottom: 1em;
      position: absolute;
      width: 100%;
      top: 0;
      z-index: 10;
      margin: 0;
      overflow: hidden;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }


    &.topnav.mobile a {
      display: inline-block;
      font-size: 1em;
    }
  }
}
.banner.mobile {
  margin-top: 8vh;
}


@media screen and (min-width: $superwide) {

}

@media screen and (min-width: 1500px) {
  .topnav img {
    height: 60px;
  }
}
