.topnav {
  display: flex;
  justify-content: space-between;
  width: 100vw;
  height: 8vh;
  margin: auto;
  overflow: hidden;
  background-color: var(--nav-color);
  border-bottom: 1px solid $greymist;
  padding: 0 4em;
  position: relative;

  img {
    height: 70px;
    padding-top: 0.5em;
  }

  & .mobile-icon-container {
    display: none;
  }

  .nav-items {
    display: flex;
    align-items: center;
    list-style: none;

    & a {
      font-size: $p-medium;
      padding: 0.5em;
      text-decoration: none;
      border-radius: 0.25em;
      color: var(--text-color);
    }
  }
}

@media screen and (max-width: 500px) {
  .topnav {
    padding: 0 2em;

    img {
      height: 50px;
    }

    .nav-items {
      flex-direction: column;
      a {
        display: none;
      }
    }

    & .mobile-icon-container {
      background: var(--nav-color);
      color: black;
      display: block;
      position: absolute;
      top: 1em;
      right: 2em;
    }

    &.mobile {
      height: auto;
      padding-bottom: 1em;
      position: absolute;
      width: 100%;
      top: 0;
      z-index: 10;
      margin: 0;
      overflow: hidden;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    &.mobile #logo-container {
      align-self: flex-start;
    }

    &.topnav.mobile a {
      display: inline-block;
      font-size: 1em;
    }
  }
}
.banner.mobile {
  margin-top: 8vh;
}
