.topnav {
  display: flex;
  width: 100vw;
  height: 8vh;
  margin: auto;
  overflow: hidden;
  background-color: var(--nav-color);
  border-bottom: 1px solid grey;
  padding: 0 3em;

  #logo-container {
    flex: 1;
  }

  img {
    height: 70px;
    padding-top: 0.5em;
  }

  ul {
    flex: 3;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
  }

  a {
    font-size: 1.2em;
    padding: 0.5em;
    text-decoration: none;
    border-radius: 0.25em;
    color: var(--text-color);
  }
}
