@import "headers";

#restaurants-header {
  background: #d40072;
}

.restaurants-content {
  width: 100%;
  display: flex;
  flex-direction: column;
}

#menu-btn-container {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  align-self: center;
  justify-content: flex-end;
  margin: 2em;
}

#menu-btn-container label {
  align-self: center;
  margin-right: 1em;
  font-weight: 600;
  align-self: flex-start;
  padding-bottom: 0.5em;

}

.btn {
  background-color: $secondary;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  font-weight: bold;
  background-color: $primary;
  color: black;
  border: none;
  box-shadow: 2px 3px 10px var(--shadow);
  outline: none;
  letter-spacing: $letter-spacing-btn;
}

#btn-wrapper {
  display: flex;
  flex-direction: column;
}

#select-wrapper {
  display: flex;
}

#add-restaurant-btn {
  height: 2.5em;
  width: 4em;
  border-radius: 0 0.25em 0.25em 0;
}

#menu-language-btn {
  height: 2.5em;
  width: 4em;
  margin-left: 1em;
  border-radius: 0.25em;
  align-self: flex-end;
}

#restaurants-select {
  outline: none;
  border: 1px solid var(--border-color);
  border-radius: 0.25em 0 0 0.25em;
  padding: $sp1;
  box-shadow: 2px 3px 10px var(--shadow);

}

/*CARDS*/

.menu-cards-container {
  margin: 0 $sp4;
  display: flex;
  flex-direction: column;
}

.menu-card {
  display: flex;
  flex-direction: column;
  background-color: var(--card-color);
  border: none;
  border-radius: 0.5em;
  margin-bottom: 2em;
  padding-bottom: $sp5;
  box-shadow: 2px 3px 15px var(--shadow);
}

.menu-card-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1.5em 0;
  background-color: $greymist;
  border-radius: $card-border-radius $card-border-radius 0 0;
}

.menu-card-img-container {
  padding-bottom: 0.5em;
}

.menu-card-img-container > img {
  height: 60px;
  width: 60px;
  border-radius: 50%;
}

.menu-card-content {
  display: flex;
  justify-content: center;
  padding-top: 1em;
}

.menu-list {
  list-style: none;
  margin: 0 1em;
}

.menu-card h3 {
  font-size: 1em;
}

.menu-card li,
p {
  font-size: 0.75em;
}

.menu-card li {
  border-bottom: 1px dashed $greymist;
  margin: $sp3 0;
}

.menu-card button {
  width: 10em;
  padding: $sp2;
  border-radius: 0.25em;
}

@import "modal";

@media screen and (min-width: $small) {
  .menu-card h3 {
    font-size: 1.5em;
  }

  .menu-card li,
  p {
    font-size: 1em;
  }
}

@media screen and (min-width: $mobile) {
  .menu-card-img-container > img {
    height: 100px;
    width: 100px;
  }
}

@media screen and (min-width: $ipadpro) {
  .menu-cards-container {
    width: 90%;
    margin: auto;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .menu-card {
    width: 48%;
  }

  article.menu-card:last-of-type:nth-of-type(odd) {
    margin-right: auto;
  }

  .btn:hover {
    filter: brightness(0.9);
    cursor: pointer;
  }
}

@media screen and (min-width: $widescreen) {
  #menu-btn-container {
    width: 100%;
    justify-content: center;
  }

  .menu-card li,
  p {
    font-size: 1.25em;
  }
}
