/*BACKGROUND*/
.restaurants-bg {
  height: 30vh;
  width: 100%;
  position: relative;
  overflow: hidden;
  background: url("../assets/images/bg.jpg") no-repeat center center fixed ;
  background-size: cover;
}

.restaurants-bg::after {
  content: "";
  position: absolute;
  left: 10%;
  right:10%;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.4);
}

.dish-images {
  border-radius: 50%;
  box-shadow: 5px 7px 30px $charcoal;
  position: absolute;
}

#noodles  {
  height: 100px;
  width: 100px;
  top: 6%;
  left: 60%;
}

#pasta {
  height: 100px;
  width: 100px;
  top: 50%;
  left: 40%;
}

#rice {
  height: 100px;
  width: 100px;
  top: 55%;
  left: 7%;
}

#soup {
  height: 150px;
  width: 150px;
  top: 47%;
  left: 73%;
}

#toast {
  height: 150px;
  width: 150px;
  top: 5%;
  left: 20%;
}


.restaurants-content {
  width: 100%;
  display: flex;
  flex-direction: column;
}

#restaurants-header {
  flex: 1;
}

#restaurants-headings {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  position: relative;
  z-index: 999;
}

#restaurants-headings > h1 {
  font-size: $h1-size;
}

#restaurants-headings > p {
  font-size: $p-large;
}


#menu-btn-container {
  display: flex;
  width: 10%;
  align-self: center;
  justify-content: space-evenly;
  margin: 2em;

}
#menu-language-btn, #add-restaurant-btn {
  background-color: $secondary;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $white;
  padding: 0.5em;
  border-radius: 0.5em;
  border: none;
  outline: none;
  box-shadow: 2px 5px 10px var(--shadow);
  height: 3.25em;
  width: 3.25em;
  align-self: center;

}

.menu-cards-container {
  width: 75%;
  margin: auto;
  flex: 6;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

/*CARDS*/
.menu-card {
  display: flex;
  flex-direction: column;
  width: 35vw;
  background-color: $white;
  border: none;
  border-radius: 0.5em;
  padding: 1.5em;
  margin-bottom: 2em;
  box-shadow: 2px 3px 15px var(--shadow);
}

article.menu-card:last-of-type:nth-of-type(odd) {
  margin-right:auto;
}

.menu-card-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 1em;
  border-bottom: 1px solid $greymist;
}

.menu-card-img-container {
  padding-bottom: 0.5em;
}
.menu-card-img-container > img {
  height: 100px;
  width: 100px;
  border-radius: 50%;
}

.menu-card-content {
  display: flex;
  justify-content: center;
  padding-top: 1em;
}

@import 'modal';








@media only screen and (max-width: 1350px) {
  .dish-images {
      transform: scale(0.7, 0.7) translateX(-10%);
  }

  }

  @media only screen and (max-width: 1100px) {
      .dish-images {
          transform: scale(0.6, 0.6) translateX(-40%);
      }

      }


@media only screen and (max-width: 768px) {
.dish-images {
    transform: scale(0.5, 0.5) translateX(-60%);
}

#mouse-container {
    display: none;
}

}

@media only screen and (max-width: 600px) {
  .dish-images {
      transform: scale(0.4, 0.4) translateX(-90%);
  }

  }

  @media only screen and (max-width: 600px) {
      .dish-images {
          transform: scale(0.3, 0.3) translateX(-100%);
      }

      #pasta {
          transform: scale(0.3, 0.3) translate(-100%, -100%);
      }

      #soup {
          transform: scale(0.3, 0.3) translate(-200%, +80%);

      }

      }
