
@import 'base';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  overflow-x: hidden;
  height: 100%;
  scroll-behavior: smooth;
}

body {
  background-color: var(--bg-color);
  letter-spacing: $letter-spacing;
  font-family: 'Open Sans', sans-serif;
}

@import 'navigation';

#landing-page {
  display: flex;
  justify-content: center;
  background-color: var(--bg-color);

}

.content {
  display: flex;
  flex-direction: column;
  height: inherit;
  width: 80%;
  position: relative;
}

#landing-page-left, #landing-page-right {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: 3em;
}

#landing-page-right {
  margin-bottom: 2em;
}

@import 'themeswitch';
@import 'restaurants';

#main-title {
  padding: 2em;
  color: var(--heading-color);
}

#main-title img {
  width: 400px;
}

#main-title > h1 {
  font-size: 2em;
  letter-spacing: $letter-spacing-header;
}

#main-title > h2 {
  font-size: 1.5em;
  margin-top: $sp1;
}

#main-title > p {
  font-size: 1em;
  margin-top: $sp6;
  letter-spacing: 0.01em;;
}

#weather {
  height: 300px;
  width: 300px;
  background-color: hotpink;
}

#corona-data {
  height: 200px;
  width: 200px;
  background-color: indigo;
}

#info-box
{
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 40vh;
  min-width: 20vw;
  border: 1px solid $greymist;
  border-radius: $card-border-radius;
  padding: $sp4;
}

#info-container h2 {
  text-align: center;
  font-size: 1.5em;
  color: var(--heading-color);
}

.info-card {
  background-color: var(--card-color);
  color: var(--text-color);
  margin-top: 2em;
  padding: 1em;
  border: none;
  border-radius: $card-border-radius;
  box-shadow: 2px 5px 10px var(--shadow);
}

#info-btn {
  min-height: 2em;
  min-width: 4em;
  background-color: $primary;
  color: white;
  border: none;
  box-shadow: var(--shadow);
  border-radius: 0.25em;
  letter-spacing: $letter-spacing-btn;
}

.info-card h3 {
  padding-bottom: $sp1;
  font-size: 1.25em;
}

.info-card p {
  padding-bottom: $sp2;
  font-size: 1em;
}

@import 'hsl-data-layout';



@media screen and (min-width: $superwide) {
  .content {
    flex-direction: row;
    justify-content: space-between;
  }

  #main-title > h1 {
    font-size: 4em;
  }

  #main-title > h2 {
    font-size: 3em;
  }

  #main-title > p {
    font-size: 2em;
  }

  #info-box {
    margin-top: 5vh;
  }


}

@media screen and (min-width: $mobile) {

  #landing-page {
    min-height: 100vh;
  }

  #landing-page-left, #landing-page-right {
    flex: 1;
  }

  #main-title > h1 {
    font-size: $h1-size;
  }

  #main-title > h2 {
    font-size: $h2-size;
  }

  #main-title > p {
    font-size: $p-medium;
  }

  #info-container h2 {
    font-size: $h2-size;
  }

  .info-card h3 {
    font-size: $h3-size;
  }

  .info-card p {
    font-size: $p-medium;
  }

}

